<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGJ8HOOdCf3l6EPyaTbiIekER-I5CJs607Kg&usqp=CAU" class="picture">

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div> 
            <form action='/' method='post'>
                <div class="mb-3">
                    <h3>Enter a Burger </h3>
                    <textarea name="userBurger" class="form-control" id="burgerType" rows="1"></textarea>
                </div>
                <button type="sumbit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-sm">
        <h3>List of Burgers</h3>
        <ul class="list-group">
            {{#each data}}
            {{#unless this.devoured}}
            <li class="list-group-item">
                <form action='/burger/{{this.id}}' method='post'>
                    {{this.name}}
                    <button class="btn btn-primary float-end">Devour</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-sm">
        <h3>Devoured Burgers</h3>
        <ul class="list-group">
            {{#each data}}
            {{#if this.devoured}}
            <li class="list-group-item">
                <form>
                    {{this.name}}
                </form>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
  </div>
</div>