<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGJ8HOOdCf3l6EPyaTbiIekER-I5CJs607Kg&usqp=CAU" class="picture">

<div class="container">
  <div class="row">
    <div class="col-sm">
        <form> 
            <div class="mb-3">
                <label for="burgerType" class="form-label">Enter a Burger</label>
                <textarea class="form-control" id="burgerType" rows="3"></textarea>
            </div>
            <button type="sumbit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-sm">
        <form> 
            <div class="mb-3">
                <label for="burgerType" class="form-label">Burger List</label>
                <textarea class="form-control" id="burgerType" rows="3"></textarea>
            </div>
        </form>
        <button type="submit" class="btn btn-primary">Eat</button>
    </div>
    <div class="col-sm">
        <form> 
            <div class="mb-3">
                <label for="burgerType" class="form-label">Burgers Already Devoured</label>
                <textarea class="form-control" id="burgerType" rows="3"></textarea>
            </div>
        </form>
    </div>
  </div>
</div>